.aboutus-wrapper {
    -webkit-appearance: none;
    height: fit-content;
    min-height: 75vh;
    background-color: black;
    overflow: hidden;
    
    .aboutus-presentation {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 80vw;
        width: 80vw; // TEMP
        // min-width: 900px;
        height: fit-content;
        // height: 700px;
        margin:  auto;
        padding: 90px 0;

        @media all and (max-width: 700px) {
            width: 93vw;
            max-width: 93vw;
            padding-top: 40px;
            flex-direction: column;
            justify-content: center;
        }
    }

    .aboutus-presentation__box-1 {
        height: 390px;
        min-height: fit-content;
        width: 70%;
        background-color: black;
        // min-width: 350px;
        padding: 10px 50px 25px 20px;
        border-top: 5px solid rgb(228, 38, 133);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-right: 4px solid rgb(228, 38, 133);
        box-shadow: 3px 0 18px -3px black;
        z-index: 10;
        
        @media all and (max-width: 700px) {
            width: 100%;
            padding-bottom: 50px;
            // border-bottom-right-radius: 20px;
            
        }
    }
    .aboutus-presentation__box-2 {
        height: 290px;
        min-height: fit-content;
        width: 29%;
        // min-width: 300px;
        max-width: 350px;
        border-right: 4px solid rgb(228, 38, 133);
        margin-left: -4px;
        border-top-right-radius: 2px;

        @media all and (max-width: 700px) {
            width: 93vw;
            height: 420px;
            overflow: hidden;
            margin-top: -2px;
            margin-left: 0px;
            border-right: 0px solid rgb(228, 38, 133);
            border-left: 4px solid rgb(228, 38, 133);
            border-top: 5px solid rgb(228, 38, 133);
            // border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 70%;
            padding: 20px 0;
        }
    }
    .aboutus-presentation__box-3 {
        height: 30px;
        min-height: fit-content;
        width: 70%;
        min-width: 350px;
        z-index: 1;
        background-color: black;

        @media all and (max-width: 700px) {
            display: none;
        }
    }
    .aboutus-presentation__box-4 {
        height: 30px;
        min-height: fit-content;
        width: 29%;
        // min-width: 300px;
        max-width: 350px;
        border-bottom: 5px solid rgb(228, 38, 133);
        border-right: 4px solid rgb(228, 38, 133);
        border-left: 4px solid rgb(228, 38, 133);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-left: -4px;
        z-index: 1;
        @media all and (max-width: 700px) {
            display: none;
        }

    }

    .aboutus-presentation__title {
        font-size: 80px;
        font-family: hand1, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        transform: rotate(-3deg)
    }
    .aboutus-presentation__text {
        font-size: 20px;
        font-family: Helvetica, arial,  sans-serif;
        font-weight: 200;
        padding: 5px 0;
        color: rgba(255, 255, 255, 0.836);
        line-height: 1.2em;
    }

    .aboutus-img-slider-wrapper {
        height: 200px;
        width: 1080px;
        position: relative;
        top: 40px;
        left: 0;

        .gatsby-image-wrapper {
            border-radius: 8px;
            box-shadow: 2px 0 15px -2px black;
            cursor: pointer;

            // z-index: -5;
            &.gi-1 {
                transform: translateX(-270px);
                animation: first-aboutus 10.5s ease-in-out 1s 3;
                &:hover {
                    transform: translateX(0px);
                    z-index: 5;
                    transition: transform 1s ease-in;
                }
                @keyframes first-aboutus {
                    8% {
                        transform: translateX(50px);
                    }
                    14%{
                        z-index: 2;
                    }
                    16% {
                        transform: translateX(0px);
                        // z-index: 2;
                    }
                    33% {
                        transform: translateX(0px);
                        // z-index: 2;
                    }
                    90% {
                        transform: translateX(0px);
                    }
                }
            }
            &.gi-2 {
                transform: translate(-645px, -15px);
                animation: second-aboutus 10.5s ease-in-out 1s 3;
                &:hover {
                    transform: translate(-360px, -15px);
                    z-index: 5;
                    transition: transform 1s ease-in;
                }
                @keyframes second-aboutus {
                    33% {
                        transform: translate(-645px, -15px);
                    }
                    
                    41% {
                        transform: translate(0px, -15px);
                        z-index: 0;
                    }
                    42%{
                        z-index: 3;
                    }

                    50% {
                        transform: translate(-340px, -15px);
                        z-index: 3;
                    }
                    66%{
                        transform: translate(-340px, -15px);
                        z-index: 3;
                    }
                    90% {
                        transform: translate(-340px, -15px);
                        // z-index: 3;
                    }
                }
            }
            &.gi-3 {
                transform: translate(-1020px, -30px);
                animation: third-aboutus 10.5s ease-in-out 1s 3 forwards;
                &:hover {
                    transform: translate(-710px, -30px);
                    z-index: 5;
                    transition: transform 1s ease-in;
                }
                @keyframes third-aboutus {
                    66% {
                        transform: translate(-1020px, -30px);
                        z-index: -1;
                    }
                    76% {
                        transform: translate(-320px, -30px);
                        z-index: 0;
                    }
                    77% {
                        z-index: 4;

                    }
                    80% {
                        transform: translate(-680px, -30px);
                        // z-index: 4;
                    }
                    92% {
                        transform: translate(-680px, -30px);
                        // z-index: 4;
                    }
                    100% {
                        transform: translate(-720px, -30px);
                        // z-index: 4;
                    }

                }
            }
        }
        
    }

    .arrow-wrapper {
        position: relative;
        width: 300px;
    }

   .arrow {
    position: absolute;
    height: 150px;
    width: 100%;
    top: -460px;
    left: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    // transform: rotate(103deg);
    @media all and (max-width: 700px) {
        display: none;
    }

    &.arrow-1 {
        background-image: url('/imgs/arraw-1.png');
        opacity: 0;
        top: -430px;
        animation: first-arrow-aboutus 10.5s ease-in-out 1s 3 forwards;
            @keyframes first-arrow-aboutus {
                16% {
                    opacity: 1;
                    // transform: translateX(0px);
                    // z-index: 2;
                }
                33% {
                    opacity: 1;
                    // transform: translateX(0px);
                    // z-index: 2;
                }
                34% {
                    opacity: 0;
                }
                90% {
                    opacity: 0;
                    // transform: translateX(0px);
                }
            }
        
    }
    &.arrow-2 {
        // top: -200px;
        left: 130px;
        opacity: 0;
        background-image: url('/imgs/arraw-2.png');

        animation: second-arrow-aboutus 10.5s ease-in-out 1s 3 forwards;

            @keyframes second-arrow-aboutus {
                44% {
                    opacity: 0;
                }
                49%{
                    opacity: 1
                }

                67% {
                    opacity: 1;
                }
                72%{
                    opacity: 0;
                    
                }
            }
    }
    &.arrow-3 {
        // top: -370px;
        background-image: url('/imgs/arraw-1.png');
        opacity: 0;
        animation: third-text-aboutus 10.5s ease-in-out 1s 3 forwards;

            @keyframes third-text-aboutus {
                75% {
                    opacity: 0;
                }
                79% {
                    opacity: 1;

                }
                100% {
                    opacity: 1;
                }

            }
    }
   }
   .arrow-text-wrapper {
        position: relative;
        height: 150px;
        top: -480px;
        left: 190px;
        font-size: 50px;
        text-align: center;
        font-family: hand1;

        @media all and (max-width: 700px) {
            top: 0px;
            left: 150px;
            // right: 30px;
            position: auto;
            // display: none;
        }

        >:nth-child(1) {
            opacity: 0;
            position: absolute;
            font-size: 50px;
            animation: first-text-aboutus 10.5s ease-in-out 1s 3 forwards;
            @keyframes first-text-aboutus {
                16% {
                    opacity: 1;
                }
                33% {
                    opacity: 1;
                }
                34% {
                    opacity: 0;
                }
                90% {
                    opacity: 0;
                }
            }
        }
        >:nth-child(2) {
            opacity: 0;
            position: absolute;
            left: -120px;
            font-size: 60px;
            animation: second-text-aboutus 10.5s ease-in-out 1s 3 forwards;
            @media all and (max-width: 700px) {
                left: 20px;
            }

            @keyframes second-text-aboutus {
                44% {
                    opacity: 0;
                }
                49%{
                    opacity: 1
                }

                67% {
                    opacity: 1;
                }
                72%{
                    opacity: 0;
                    
                }
            }
        }
        >:nth-child(3) {
            opacity: 0;
            position: absolute;
            font-size: 80px;
            animation: third-text-aboutus 10.5s ease-in-out 1s 3 forwards;
            @media all and (max-width: 700px) {
                top: -25px;
                left: 30px;
            }

            @keyframes third-text-aboutus {
                75% {
                    opacity: 0;
                }
                79% {
                    opacity: 1;

                }
                100% {
                    opacity: 1;
                }

            }
        }
   } 
}