#contact-us__wrapper {
    
    .contactus__container {
        width: 70%;
        margin: 0 auto;
        opacity: 0;

        &.fade-in {
            animation: fade-in 0.3s ease-in forwards;

            @keyframes fade-in {
                100% {
                    opacity: 1;
                }
            }
        }
     }

    .text {
        color: rgb(99, 99, 99);
        font-family: Helvetica, sans-serif;
        margin-bottom: 20px;
    }

    .contactus__form {
        display: flex;
        flex-direction: column;
        margin: 0 auto 20px;
    }

    .form-input {
        height: 30px;
        margin-bottom: 10px;
        border-radius: 3px;
        border-width: 1px;

        &.email {
            width: 250px;
        }

        &.subject {
            width: 400px;
        }
        &.body {
            width: 100%;
            min-height: 250px;
            height: fit-content;
        }
        &.submit {
            height: 40px;
            background-color: rgb(59, 141, 59);
            color: white;
            cursor: pointer;
            font-weight: 600;
        }
    }
}